a.quality-link {
    color: #0645ad;
}
a.quality-link:visited {
    color: #0b0080;
}
a.quality-link:hover {
    text-decoration: underline;
}
a.quality-FA {
    background-color: #ffff66;
}
a.quality-GA {
    background-color: #66ff66; 
}
span .quality-B {background-color: #b2ff66;}
span .quality-C {background-color:: #ffff66;}
span .quality-Start {background-color:: #ffaa66;}
span .quality-Stub {background-color: #ffa4a4;}
