{% extends "layout.html" %}
{% block title %}About Wikidit{% endblock %}
{% block content %}
<div class="container">
      <p>
      Wikidit is a web app that suggests edits which will improve the quality of Wikipedia articles
      This written as a project for a <a href="https://www.insightdatascience.com/">Insight Data Science</a>
      fellowship in September/October 2018.
      </p>  

      <p> For more information on wikidit, see the following resources.</p>
          
      <ul>
          <li><a href="https://github.com/jrnold/wikidit">Source</a></li>
          <li><a href="https://docs.google.com/presentation/d/1CqUqgL38VftdQtJUZWEWaYJ2O-1X8ZkXuT5TdvAZZ1o/edit?usp=sharing">Slide deck</a></li>
      </ul>

</div>
{% endblock %}
